<header>
    <h1>Admin Dashboard</h1>
    <button class="menu-toggle" onclick="toggleSidebar()">☰</button>
    <div class="profile">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
            alt="Profile Picture">
            <span style="font-size: 25px; font-family: Arial, Helvetica, sans-serif;">Profile</span>
        

            <div class="dropdown">
            <a href="/profile">Profile</a>
            <a href="/settings">Settings</a>
            <% if(authenticated){ %>
                <a href="/logout">logout</a>

                <% }else{ %>

                    <a href="/login">Login</a>
                    <%}%>

                        <!-- <a href="/login">Login</a> -->
                        <!-- <a href="#" onclick="logout()">Logout</a> -->
        </div>
    </div>
</header>